@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indent {
  text-indent: 1em;
}

:root {
  --logo-size: 2.5rem;
  --logo-padding: .25rem;
  --icons-size: 1.5rem;
  --icons-padding: calc(var(--logo-padding) + (var(--logo-size) - var(--icons-size)) / 2);
  --icons-margin: 0.5rem;
  --collapsed-sidebar-width: calc(var(--icons-size) + 2 * (var(--icons-margin) + var(--icons-padding)));
  --sidebar-width: 20rem;
  --sidebar-time: 0.3s;
}

.dark-theme {
  --bg-color: #24273a;
  --sencond-bg-color: #303446;
  --text-color: #eff1f5;
  --card-text-color: #a3aac5;
  --shadow-color: #1e1e1e;
  --border-image-color: rgb(176, 174, 174);
  --card-before-color: #4e7d9a;
  --hover-color: #4e7d9a;
  --card-buttons-color: #91ddd1;
}

.light-theme {
  --bg-color: #d6dae2;
  --sencond-bg-color: #eff1f5;
  --text-color: #24273a;
  --card-text-color: grey;
  --shadow-color: grey;
  --border-image-color: #60637a;
  --card-before-color: #f98847;
  --hover-color: #f4b189;
  --card-buttons-color: #fa6d1c;
}

.light-mode.hidden, .dark-mode.hidden {
  display: none;
}

#content {
  background-color: var(--sencond-bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-left: var(--sidebar-width);
  display: grid;
  grid-template: auto repeat(2, 1fr) auto / 3fr 1fr;
  transition: padding var(--sidebar-time) ease;
}

.collapsed #content {
  padding-left: var(--collapsed-sidebar-width);
}

#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  width: var(--sidebar-width);
  border-right: 1px solid var(--card-text-color);
  transition: width var(--sidebar-time) ease;
}

.collapsed #sidebar {
  width: var(--collapsed-sidebar-width);
}

.sidebar-inner-scroll {
  background-color: var(--bg-color);
  height: 100%;
  overflow-y: auto;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 3.5rem;
  list-style: none;
}

.link-button, .toggle-sidebar-button {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link-button {
  border-radius: 8px;
  text-decoration: none;
  margin: 0 var(--icons-margin);
  padding: var(--icons-padding);
}

.link-button:hover, .toggle-sidebar-button:hover {
  background-color: var(--hover-color);
}

.toggle-sidebar-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border-right: 1px solid var(--card-text-color);
  background-color: var(--bg-color);
  padding: 0 calc(var(--icons-margin) + var(--icons-padding)); 
  height: 3rem;
  width: var(--sidebar-width);
  overflow: hidden;
  z-index: 1;
  transition: width var(--sidebar-time) ease;
}

.collapsed .toggle-sidebar-button {
  width: var(--collapsed-sidebar-width);
}

.toggle-icon {
  transition: transform var(--sidebar-time) ease;
}

.toggle-icon.rotated {
  transform: rotate3d(0, 1, 0, -180deg);
}

.hidden-names .item-name {
  display: none;
}

#logo .link-button {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  padding: var(--logo-padding);
}

#logo .item-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-icon {
  font-size: var(--icons-size);
}

.item-name {
  font-size: 1rem;
  white-space: nowrap;
}

.logo-image {
  flex-shrink: 0;
  display: grid;
  width: var(--logo-size);
  height: var(--logo-size);
  gap: .25rem;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.logo-image > * {
  background-color: var(--text-color);
}

.logo-image .square1 {
  grid-area: 1 / 1 / span 2 / span 1;
}

.logo-image .square2 {
  grid-area: span 1 / 1 / -1 / span 1;
}

.logo-image .square3 {
  grid-area: 1 / span 1 / span 1 / -1;
}

.logo-image .square4 {
  grid-area: span 2 / span 1 / -1 / -1;
}

header {
  --profile-image-size: 6rem;
  grid-area: 1 / 1 / span 1 / -1;
  padding: 2rem 6rem;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 10px var(--shadow-color);
}

.header-content {
  --size: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--size);
}

.header-buttons {
  font-size: var(--size);
  display: flex;
  gap: var(--size);
}

.mobile-buttons {
  display: none;
  height: var(--size);
  gap: var(--size);
}

.mobile-buttons > * {
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.mobile-buttons > *:hover {
  background-color: var(--hover-color);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 30rem;
  gap: 1rem;
  font-size: 1.5rem;
}

.search-bar label {
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1; 
  text-indent: 0.5rem;
  background-color: var(--card-text-color);
  color: var(--bg-color);
  border: 0;
  border-radius: 16px;
}

.search-bar input:focus {
  outline: 2px solid grey;
}

.greetings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.greetings img {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border: 2px solid var(--border-image-color);
  border-radius: 10%;
}

main {
  grid-area: 2 / 1 / span 2 / -1;
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.title {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: .5rem;
}

#projects, #announcements, #trending {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#projects {
  grid-area: 1 / 1 / -1 / span 1;
}

.projects-cards {
  flex: 1;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem;
}

.card { 
  --border-radius: 8px;
  --padding-left: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding-left: var(--padding-left);
  min-height: 18rem;
  box-shadow: 2px 2px 5px var(--shadow-color);
  background-color: var(--bg-color);
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  top: 0;
  left: 0;
  height: 100%; 
  width: calc(var(--padding-left));
  background-color: var(--card-before-color);
}

.card-content {
  flex: 1;
  position: relative;
}

.card-text {
  margin-top: 0.5rem;
  text-align: justify;
  color: var(--card-text-color);
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
  gap: 1rem;
  color: var(--card-buttons-color);
}

.card-buttons i {
  cursor: pointer;
  border-radius: 5px;
  padding: .25rem;
}

.card-buttons i:hover {
  background-color: var(--sencond-bg-color);
}

#announcements {
  grid-area: 1 / span 1 / span 1 / -1;
}

#trending {
  grid-area: span 1 / span 1 / -1 / -1;
}

.announcements-card, .trending-card {
  --gap: 2rem;
  position: relative;
  flex: 1;
  border-radius: 8px;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.scrolled-div {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  padding: 1.5rem;
  line-height: 1.55rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.message {
  position: relative;
  display: flex;
}

.message:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: calc(-1 * (2px + var(--gap) / 2));
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--card-text-color);
  border-top: 1px solid var(--card-text-color);
}

.announcement {
  text-align: justify;
  flex-direction: column;
}

.trending-item {
  padding: .5rem;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.trending-item img {
  border-radius: 5px;
  border: 2px solid var(--border-image-color);
  width: 3rem;
  height: 3rem;
}

.trending-item:hover {
  background-color: var(--hover-color);
}

footer {
  grid-area: span 1 / 1 / -1 / -1;
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

footer a {
  position: relative;
  color: var(--emoji-yellow);
  text-decoration: none;
}

footer a::after {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  transition: width .1s;
  pointer-events: none;
}

footer a:hover::after {
  width: 0%;
}

.overlay {
  position: fixed;
  inset: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

body.hidden-overlay .overlay {
  display: none;
}

@media only screen and (max-width: 1205px) {
  :root {
    --sidebar-width: 17rem;
  }

  .header-content {
    flex-direction: column-reverse;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-cards {
    grid-template: 1fr / 1fr;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  #content {
    padding-left: var(--collapsed-sidebar-width);
  }
}

/* Mobile version */
@media only screen and (max-width: 750px) {
  body:not(.hidden-overlay) {
    overflow: hidden;
  }

  #projects .scrolled-div {
    overflow: hidden;
  }

  #sidebar {
    border: 0;
  }

  .collapsed #sidebar {
    width: 0;
  }

  .toggle-sidebar-button {
    display: none;
  }

  #announcements, #trending {
    gap: .5rem;
    --width: min(calc(1.2 * var(--sidebar-width)), 80%);
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: var(--width);
    right: calc(-1 * var(--width));
    z-index: 2;
    transition: right var(--sidebar-time) ease;
    border-left: 1px solid black;
    background-color: var(--bg-color);
  }

  .show#announcements, .show#trending {
    right: 0;
  }

  .announcements-card, .trending-card {
    border: 0;
    border-radius: 0;
    border-top: 2px solid var(--card-text-color);
    box-shadow: none;
  }

  .collapsed #content, #content {
    padding-left: 0;
  }

  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-content {
    flex-direction: column;
    align-items: stretch;
  }

  .header-buttons {
    flex-direction: column;
  }

  .mobile-buttons {
    display: flex;
  }

  .hamburguer {
    margin-right: auto;
  }

  .search-bar {
    width: auto;
  }

  .greetings {
    justify-content: center;
  } 
  
  #projects {
    grid-area: 1 / 1 / -1 / -1;
  }

  footer a {
    text-decoration: underline;
  }

  footer a::after {
    width: 0;
  }
}

@media only screen and (max-width: 500px) {
  header {
    --profile-image-size: 4rem;
  }

  .greetings h2 {
    font-size: 1.2rem;
  }
}
